APP_ENV=development
SECRET_KEY=change_this_secret_key
JWT_SECRET_KEY=change_this_jwt_secret_key
JWT_EXPIRE_MINUTES=60

DB_NAME=riskops
DB_USER=sa

MSSQL_SA_PASSWORD=YourStrong!Passw0rd

CORS_ORIGINS=http://localhost:3000

ADMIN_EMAIL=admin@riskops.local
ADMIN_PASSWORD=Admin123!
ADMIN_FULL_NAME=System Administrator

AUTO_CREATE_TABLES=false

REACT_APP_API_URL=http://localhost:8000/api/v1